@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    line-height: 56px;
}
header{
    
    background-image: url('Images/backgroungimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 118px;

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(40, 33, 25, 0.4);
    width: 100%;
    height: 148px;
    font-family: 'DM Sans', sans-serif;


}
.container{
    width: 95%;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar img{
    height: 100px;
    width: 100px;
}
.navbar a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.navbar ul li{
    display: inline;
    margin:0px 34px;
}
.intro{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
}
.writings{
    padding: 0px 150px;
    box-sizing: border-box;
    line-height: 56px;
    font-family: 'Josefin Sans', sans-serif;

}
.writings h1{
    font-size: 40px;
    font-weight: 700;
    margin: 60px 0px; 
}
.writings h3{
    font-size:30px;
    font-weight: 700;
}
.contactinfo{
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;

}
.contactinfo img{
    margin-top: 20px;
}

.contactinfo .container{
    display: flex;
    justify-content: center;
    align-items:center ;
    


}
.divider{
    border: 5px solid #B8ABA4;
    border-radius: 20px;
    height: 485px;
}
.visitus,.contactus{
    width: 50%;
    text-align: center;
    line-height: 56px;
}
.visitus h1, .contactus h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 39px;

}
.visitus p, .contactus p{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;

}

.visitus {
    padding-right: 180px;
    box-sizing: border-box;
    
}
.contactus{
    padding-left: 180px;
    box-sizing: border-box;
}
.contactinfo iframe{
    margin-top: 50px;
    margin-bottom: 35px;
    border-radius: 30px;
    width:982px;
    height:684px;
}
section.services{
    background-color:#34AB5B;
    display: flex;
    justify-content: center;
    line-height: 56px;
}
section.services .header{
    margin-top: 50px;
    text-align: center;
    font-size: 39px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 88px;

}
section.services .title h2{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0.01em;
    margin-bottom: 24px;

}


section.services .container{
}
section.services .service{
    display: flex;
    justify-content: space-between;
}
section.services .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 84.5px;

}
section.services .box{
    width: 368px;
    /* margin: 0px 48px; */
    background-color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #243529;
    padding: 24px 32px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

} 
section.services .box:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.85);
}
section.help{
    height: 736px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/help.jpeg);    
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
section.help .helpwritings{
    width: 100%;
    margin-bottom: 93px;
}

section.help .helpwritings h1{
    /* margin: 0; */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 39px;
    color: white;
    padding-top: 94px;

}
section.help .helpwritings h1 span{
    color:#34AB5B ;
}



section.help .helpwritings p{
    font-family: 'DM Sans';
    font-size: 25px;
    color: white;
    padding-right: 600px;
    box-sizing: border-box;

}

section.help .helpwritings2{
    font-family: 'DM Sans';
    font-size: 20px;
    color: white;
    padding-right: 0;
    box-sizing: border-box;

}
section.help .item .image{
    display: flex;
    justify-content: center;
}

section.help .items{
    display: flex;
    justify-content: space-between;
}
section.help .item{
    width: 33.3%;
}
footer{
    display: flex;
    justify-content: center;
}
footer .writings{
    padding: 0;
    text-align: center;
}
footer .social{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 73px;
    
}
footer .social img{
    height: 50px;
    width: 50px;
    margin: 0px 27px;
}
.copyright{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 14px;
}

@media screen and (max-width: 430px){
    *{
        line-height: 35px;
    }
    header{
    
        background-image: url('Images/backgroungimg.png');
        background-repeat: no-repeat;
        background-size:auto;
        height: auto;
        padding-bottom: 20px;
        margin-bottom: 118px;
    
    }
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(40, 33, 25, 0.4);
        width: 100%;
        height: 100px;
        font-family: 'DM Sans', sans-serif;
    }
    .navbar{
        display: flex;
        align-items: center;
        
    }
    .navbar img{
        height: 50px;
        width: 50px;
    }
    .logo{
        height: 50px;
    }
    .menuitems{
        display: none;
    }
    .writings{
        padding: 0px 0px;
        box-sizing: border-box;
        line-height: 56px;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    
    }
    .writings h1{
        font-size: 30px;
        font-weight: 700;
        margin: 60px 0px; 
    }
    .writings h3{
        font-size:20px;
        font-weight: 700;
    }
    .contactinfo{
        display: flex;
        justify-content: center;
        height: auto;
        flex-wrap: wrap;
    
    }
    .contactinfo img{
        margin-top: 20px;
    }
    
    .contactinfo .container{
        display: block;
        justify-content: center;
        align-items:center ;
    }
    .visitus,.contactus{
        width: 100%;
        text-align: center;
        line-height: 56px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .visitus {
        padding-right: 0px;
        box-sizing: border-box;
        
    }
    .contactus{
        padding-left: 0px;
        box-sizing: border-box;
    }
    .divider{
        border: none;
        border-bottom:solid 5px #B8ABA4;
        border-radius: 0px;
        height: 0px;
        margin: 10px 0px;
    }
    .contactinfo iframe{
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 35px;
        border-radius: 30px;
    }
    section.services .service{
        display: block;
        justify-content: space-between;
        flex-direction: row;
    }
    section.help .helpwritings h1{
        /* margin: 0; */
        font-family: 'Josefin Sans', sans-serif;
        font-size: 29px;
        color: white;
        padding-top: 94px;
    
    }
    section.help{
        height: auto;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/help.jpeg);    
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        
    }
    section.help .helpwritings h1 span{
        color:#34AB5B ;
    }
    
    
    
    section.help .helpwritings p{
        font-family: 'DM Sans';
        font-size: 15px;
        color: white;
        padding-right: 0px;
        box-sizing: border-box;
        text-align: center;
    
    }
    
    section.help .helpwritings2{
        font-family: 'DM Sans';
        font-size: 15px;
        color: white;
        padding-right: 0;
        box-sizing: border-box;
        text-align: center;
    
    }
    section.help .items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section.help .item{
        width: 100%;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    footer .writings{
        padding: 0;
        text-align: center;
    }
    footer .writings h1{
        font-size: 25px;
        margin: 10px 0px;
    }

    footer .social{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        
    }
    footer .social img{
        height: 30px;
        width: 30px;
        margin: 0px 27px;
    }
    .copyright{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 14px;
    }
    
}
